h2 {
font-size: 50px;
}

p {
  font-size: 30px;
}

.meImage {
  width: 550px;
  height: auto;
  margin: -6rem 0 0 6rem;
}

.profile {
  display: flex;
  padding: 0 8rem;
}

.profile-statement {
  align-content: center;
  margin: 8rem 0 0 3rem;
}

.notepad {
  justify-items: end;
}