body {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  margin: -10rem 0 -20rem 0;
  font-size: 400px;
  text-align: center;
  color: #a2798f20;
  font-family: 'Permanent Marker', cursive;
}

h2 {
font-size: 50px;
}

p {
  font-size: 30px;
}

.meImage {
  width: 350px;
  height: auto;
  border-radius: 8px;
}

.profile {
  display: flex;
  padding: 0 7rem;
}

.profile-statement {
  align-content: center;
  margin: 2rem;
}

.notepad {
  justify-items: end;
}