.project-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  align-items: center;
  margin: 2rem 0;
  padding: 1rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.396);
}

.project-preview img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-description h2 {
  margin-top: 0;
}

.project-description p {
  font-size: 1rem;
  line-height: 1.5;
}
